<div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item">
                <a href="./donate" class="link pure-menu-link">Donate</a>
            </li>
            <li class="pure-menu-item cen-text">
                Made with
                <i class="icon-w-crystal"></i>,
                <i class="icon-less"></i>,
                <i class="icon-php"></i>
                and {
            </li>
            <li class="pure-menu-item">
                <a href="http://github.com/GeopJr/geopjr.github.io" class="link pure-menu-link">GitHub</a>
            </li>
        </ul>
    </div>
</div>
